/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

/* regole container */
.container{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: #001533;
  min-height: 100vh;
  padding-top: 150px;
}

.container h1{
  color: #00e165;
}

/* regole top-content */
.top-content{
  display: flex;
  margin: 20px 0;
}

/* regole input */
.top-content input{
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #dadee1;
  margin-right: 10px;
  width: 300px;
}

/* regole bottone */
.top-content button{
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid #dadee1;
  margin-left: 10px;
  background-color: #f5f7f7;
}

.top-content button:hover{
  cursor: pointer;
  background-color: #00e165;
  border: 2px solid #fff;
}

/* rgole messaggio no programmi */
.bottom-content h3{
  text-align: center;
  color: #fff;
}

/* regole lista todo */
.bottom-content ul{
  background-color: #f5f7f7;
  border-radius: 10px;
  padding: 20px;
}

li{
  display: flex;
  justify-content: space-between;
  width: 50vw;
  padding: 5px;
  border-bottom: 2px solid #dadee1;
}

.bottom-content ul li i:hover{
  cursor: pointer;
  color: #00e165;
}

/* regole alert attività inserita */
.container #alert-attività-inserita{
  background-color: #fff;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  border-radius: 10px;
  text-align: center;
  border: 2px solid #00e165;
}

.container #alert-attività-inserita p{
  margin: 10px 0;
}

.container #alert-attività-inserita i{
  margin: 0 5px;
  font-size: 30px;
}

.container #alert-attività-inserita i:hover{
  cursor: pointer;
}

.container #alert-attività-inserita .fa-check-circle{
  color: #4CC417;
}

.container #alert-attività-inserita .fa-times-circle{
  color: #FF0000;
}

/* regole alert nessuna attivita */
.container #alert-nessuna-attivita{
  background-color: #fff;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  border-radius: 10px;
  text-align: center;
  border: 2px solid #00e165;
}

.container #alert-nessuna-attivita p{
  margin: 10px 0;
}

.container #alert-nessuna-attivita i{
  font-size: 30px;
  color: #FF0000;
}

.container #alert-nessuna-attivita i:hover{
  cursor: pointer;
}

/* classe invisibile */
.invisibile{
  display: none;
}

/* classe visisbile */
.visibile{
  display: block;
}
