<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>

    <div id="app">

      <!-- contenitore pagina-->
      <div class="container">

        <h1>To Do List</h1>

        <!-- container input e bottone -->
        <div class="top-content">

          <input type="text" v-model="oggetto" placeholder="Nuovo Todo">

          <button @click="aggiungiTodo">Aggiungi</button>

        </div>

        <!-- container lista todo -->
        <div class="bottom-content">

          <!-- lista todo -->
          <ul>

            <li v-for="oggetto in oggetti">

              {{oggetto}}

              <!-- bottone per eliminare todo -->
              <i class="fas fa-times"></i>

            </li>

          </ul>

        </div>

      </div>

    </div>

    <!-- javascript -->
    <script type="text/javascript" src="js/script.js">

    </script>

  </body>
</html>
