<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>

    <div id="app">

      <!-- contenitore pagina-->
      <div class="container">

        <!-- alert per attivita inserita -->
        <div id="alert-attività-inserita" :class="alertAttIns">

          <h3>ATTENZIONE</h3>

          <p>
            Hai gi&#224; inserito questa attivit&#224;.<br>
            Vuoi inserirla ancora?
          </p>

          <div class="container-buttons">

            <i @click="clickSpuntaOk" class="fas fa-check-circle"></i>

            <i @click="clickSpuntaNo" class="fas fa-times-circle"></i>

          </div>

        </div>

        <!-- alert nessuna attivita -->
        <div id="alert-nessuna-attivita" :class="alertNoAtt">

          <h3>ATTENZIONE</h3>

          <p>
            Non hai inserito nessuna attivit&#224;
          </p>

          <i @click="clickSpuntaNo" class="fas fa-times-circle"></i>

        </div>

        <h1>To Do List</h1>

        <!-- container input e bottone -->
        <div class="top-content">

          <input type="text" v-model="oggetto" placeholder="Nuovo Todo">

          <button @click="aggiungiTodo">Aggiungi</button>

        </div>

        <!-- container lista todo -->
        <div class="bottom-content">

          <!-- lista todo -->
          <ul :class="listaAtt">

            <li v-for="(oggetto, index) in oggetti">

              {{oggetto}}

              <!-- bottone per eliminare todo -->
              <i class="fas fa-times" @click="eliminaTodo(index)"></i>

            </li>

          </ul>

        </div>

      </div>

    </div>

    <!-- javascript -->
    <script type="text/javascript" src="js/script.js">

    </script>

  </body>
</html>
